*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGIN-SIGNUP (PAGE) */
.ls_container{
  width: 60%;
  margin: auto;
  padding: 20px;
  height: fit-content;
}
.ls_btn{
  width: 40%;
  margin: 0 10px 10px;
}

/* SIGN UP CSS (PAGE) */
.signup_container > form > div{
  display: flex;
}
input, select{
  margin: 0 5px;
}
.signup_btn{
  width: 30%;
}
